// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0;
  background: #ffd9b3;
  font-family: sans-serif;
}

header, footer, aside{
  display: block;
}
.title{
 min-width: 800px;
 float: left;
 background: #66B3FF;
 min-height: 60px;
   padding: 10px;
}
h1{
  color: red;
  text-align: center;
}

label{
  width: 200px;
  display: inline-block;  
  padding: 0 10px;  
  vertical-align: middle;  
}

input.text{
  width: 200px;
  display: inline-block;  
  padding: 0 10px;  
  vertical-align: middle;  
}
input.number{
  width: 200px;
  display: inline-block;  
  padding: 0 10px;  
  vertical-align: middle;  
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table{
  width: 800px;
    border-collapse: collapse;
}

th,td{
  border: 2px solid black;
  padding: 2px;
}

th{
  background: #FF7575;
}

